
 
    <h1> Liste Formation</h1>
    <div style="display : flex;align-itens: center; justify-content : center" >
    <table class="table" border='1'>
        <thead>
            <tr>
               
                <th>Id</th>
                  <th>Category</th>
                <th>Nom</th>
                <th>description</th>
                <th>photo</th>
                <th>meet</th>
                  <th>prix</th>
                 
                <th colspan="4">Actions</th>
                
               </div>




            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.category.titre}}</td>
                 <td>{{ formation.nom }}</td>
                 <td>{{ formation.description }}</td>
                 <td>{{ formation.photo }}</td>
                 <td>{{ formation.meet }}</td>
                 <td>{{ formation.prix }}</td>
              


                 <td>
                 <a href="{{ path('show', {'id':formation.id}) }}">detail</a></td>
                
                <td> <a href="{{ path('addFormation', {'id':formation.id}) }}">add</a></td>
                <td> <a href="{{ path('remove', {'id':formation.id}) }}">suppression</a></td>
                <td> <a href="{{ path('update', {'id':formation.id}) }}">modifier</a></td>

              

               
            </tr>
        {% endfor %}


            
       
        </tbody>
    </table>
<a href="{{ path('addFormation') }}">ajouter</a>
