
 
<h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Formation.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{Formation.category.titre}}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ Formation.nom }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ Formation.description }}</td>
            </tr><tr>
                <th>photo</th>
                <td>{{Formation.photo }}</td>
            </tr>
            
            <tr>
                <th>meet</th>
                <td>{{Formation.meet}}</td>
            </tr>
            <tr>
                <th>prix</th>
                <td>{{Formation.prix}}</td>
            </tr>
            
           


        </tbody>
    </table>

        <a href="{{ path('update', {'id':Formation.id}) }}">modifier</a>

     <a href="{{ path('remove', {'id':Formation.id}) }}">supprimer</a>
