{% extends 'base.html.twig' %}
{% block main%} 
{{include('pricingtabel.html.twig')}}
 <div style="text-align: center; margin: 20px">
{{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_rest(form) }}
        <button type="submit" class="get-started-btn scrollto" style="margin-bottom:20px;">Create</button>
    {{ form_end(form) }}
    </div>
{% endblock %} 