{% extends 'base.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}
    <h1>Sponsor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Budget</th>
                <th>evenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <form  style="margin-bottom: 20px",  method="post" action="{{ path('stat') }}">
            <input class="btn btn-primary" type="submit" value="Stat">
        </form>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.nom }}</td>
                <td>{{ sponsor.budget }}</td>
                <td>{{ sponsor.evenment }}</td>
                <td>
                    <a href="{{ path('app_sponsor_show', {'id': sponsor.id}) }}">show</a>
                    <a href="{{ path('app_sponsor_edit', {'id': sponsor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sponsor_new') }}">Create new</a>
     <a href="{{ path('pdf') }}">Enregistrer Sous forme pdf</a>

{% endblock %}
