
    
    <h1> Liste Category</h1>
    <div style="display : flex;align-itens: center; justify-content : center" >
    <table class="table" border='1'>
        <thead>
            <tr>
               
                <th>Id</th>
                <th>Titre</th>
               
                
                <th colspan="4">Actions</th>
               </div>




            </tr>
        </thead>
        <tbody>
        {% for Category in Categorys %}
            <tr>
                <td>{{ Category.id }}</td>
                 <td>{{ Category.titre }}</td>
              
                
                 <td>
                 <a href="{{ path('show1', {'id':Category.id}) }}">detail</a></td>
                
                <td> <a href="{{ path('addCategory', {'id':Category.id}) }}">add</a></td>
                <td> <a href="{{ path('remove1', {'id':Category.id}) }}">suppression</a></td>
                <td> <a href="{{ path('update1', {'id':Category.id}) }}">modifier</a></td>

              

               
            </tr>
        {% endfor %}

            <a href="{{ path('addCategory') }}">ajouter</a>
            
       
        </tbody>
    </table>
