{% extends 'base.html.twig' %}

{%  block body %}

    <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

    <div class="card-body">

        <p class="card-description"> Envoie Evenement </p>
        {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
        <label for="inputText" class="col-sm-4 col-form-label">descr</label>
        <div class="col-sm-10">
            {{ form_widget(form.descr,{'attr':{'class':'form-control'}}) }}

        </div>
        {{ form_errors(form.descr,{'attr':{'class':'text-danger'}}) }}
        <label for="inputText" class="col-sm-4 col-form-label">date_debut</label>
        <div class="col-sm-10">
            {{ form_widget(form.date_debut,{'attr':{'class':'form-control'}}) }}

        </div>
        {{ form_errors(form.date_debut,{'attr':{'class':'text-danger'}}) }}

        <label for="inputText" class="col-sm-4 col-form-label">date_fin</label>
        <div class="col-sm-10">
            {{ form_widget(form.date_fin,{'attr':{'class':'form-control'}}) }}

        </div>
        {{ form_errors(form.date_fin,{'attr':{'class':'text-danger'}}) }}

        <label for="inputText" class="col-sm-4 col-form-label">title</label>
        <div class="col-sm-10">
            {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}

        </div>
        {{ form_errors(form.title,{'attr':{'class':'text-danger'}}) }}

        <button type="form.envoyer"  class="btn btn-gradient-primary me-2">envoyer</button>

        {{ form_end(form) }}

        </form>
    </div>

{% endblock %}