{% extends 'base.html.twig' %}

{% block title %}Evenment index{% endblock %}

{% block body %}
    <h1>Evenment index</h1>

    <table id="tableuser" class="table">
        <thead>
        <tr>
            <th><script src="{{ asset('/js/jquery.min.js') }}"></script>

                <input id="search" class="form-control mr-sm-2" type="text" name="search" placeholder="Search ..." aria-label="Search"  >
                <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>

            </th>
                <th>Id</th>
                <th>Descr</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
        {% for evenment in evenments %}
            <tr>
                <td>{{ evenment.id }}</td>
                <td>{{ evenment.descr }}</td>
                <td>{{ evenment.dateDebut ? evenment.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenment.dateFin ? evenment.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ evenment.title }}</td>
                <td>
                    <a href="{{ path('app_evenment_show', {'id': evenment.id}) }}">show</a>
                    <a href="{{ path('app_evenment_edit', {'id': evenment.id}) }}">edit</a>
                <td>
                    <a href="{{ path('event_like', {'id': evenment.id}) }}" class="btn btn-link js-like">
                        <i class="far fa-thumbs-up"></i>
                        <span class="js-likes">{{ evenment.likes | length }}</span>
                        <span class="js-label">j'aime</span>
                    </a>
                </td>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenment_new') }}">Create new</a>


{% endblock %}

