<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.bootstrapdash.com/demo/ui-components/pricing/pricing-1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Feb 2023 18:05:16 GMT -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pricing table</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
  <link href="{{asset('css/materialdesignicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('css/pricing-plan.css')}}" rel="stylesheet">
</head>
<body>
  <main>
    <div class="container">
      <!--<h5 class="text-center pricing-table-subtitle">PRICING PLAN</h5>-->
      <h5 class="text-center pricing-table-subtitle"></h5>
      <h1 class="text-center pricing-table-title">Table de prix</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card pricing-card pricing-plan-basic">
            <div class="card-body">
              <i class="mdi mdi-cube-outline pricing-plan-icon"></i>
              <p class="pricing-plan-title">Basic</p>
              <h3 class="pricing-plan-cost ml-auto">10Dt</h3>
              <ul class="pricing-plan-features">
                <li>4 séances de coaching par mois</li>
                <li>rejoindre une equipe</li>
                <li>Accès aux lecons niveau débutant</li>
                <li>Participer aux évenements</li>
              </ul>
              <!--<a href="" class="btn pricing-plan-purchase-btn">payer</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card pricing-card pricing-card-highlighted  pricing-plan-pro">
            <div class="card-body">
                <i class="mdi mdi-trophy pricing-plan-icon"></i>
              <p class="pricing-plan-title">Avancé</p>
              <h3 class="pricing-plan-cost ml-auto">30Dt</h3>
              <ul class="pricing-plan-features">
                <li>12 séances de coaching par mois</li>
                <li>rejoindre ou créer une equipe</li>
                <li>Accès aux lecons niveau débutant et intermédiaire</li>
                <li>Participer aux évenements</li>
              </ul>
              <!--<a href="" class="btn pricing-plan-purchase-btn">Payer</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card pricing-card pricing-plan-enterprise">
            <div class="card-body">
              <i class="mdi mdi-wallet-giftcard pricing-plan-icon"></i>
              <p class="pricing-plan-title">Pro</p>
              <h3 class="pricing-plan-cost ml-auto">50Dt</h3>
              <ul class="pricing-plan-features">
                <li>séances de coaching illimité</li>
                <li>rejoindre ou créer une equipe</li>
                <li>Accès a tous les lecons</li>
                <li>Participer aux évenements</li>
              </ul>
              <!--<a href="" class="btn pricing-plan-purchase-btn">Payer</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{asset('js/popper.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
</body>

<!-- Mirrored from www.bootstrapdash.com/demo/ui-components/pricing/pricing-1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Feb 2023 18:05:25 GMT -->
</html>
